*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    /* max-width: 1831px; */
    margin: 0 auto;
}

/* header  css start from here */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 180px;
}
.logo img{
    width: 139px;
    height: 60px;
}
nav .menu{
    display: flex;
}
nav ul li{
    list-style-type: none;
}
nav ul li a{
    margin: 0 15px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
}
nav ul li a:hover{
    color: red;
}

.btn{
    background-color: rgba(8, 151, 8, 0.753);
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 16px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(0, 102, 255);
    transform: scale(1.05);
}

/* hero section css start from here  */
.hero{
    background: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 110px 20px;
}
.hero .hero-container{
    max-width: 1200px;
    margin: 0 auto;
}
.white-bar{
    display: flex;
}
.hero .sub-title{
    background-color: white;
    color: green;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
}
.hero .hero-container .circle-btn img{
    width: 3px;
}
.hero h1{
    font-size: 52px;
    margin: 20px 0;
    line-height: 1.2;
}
.hero .hero-heading{
    color: #22c55e;
}
.hero p{
    max-width: 525px;
    margin: 0 auto 25px;
    font-size: 15px;
    line-height: 24px;
}
.hero-button{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.hero-button .btn{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.hero-button .btn-secondary{
    border: 2px solid #c7cec9;
    background: transparent;
    color: white;
}
.hero-button .btn-secondary:hover{
    color: red;
    border: 2px solid goldenrod;
}

/* card section start  from here  */
.card-section{
    padding: 80px 20px;
    text-align: center;
}
.card-section h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.card-section p{
    color: #64748b;
    font-size: 13px;
}
.user-cards{
    display: flex;
    justify-content: center;
    gap: 25px;
    max-width: 1360px;
    margin: 40px auto 0;
}
.user-cards .card{
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    border-radius: 12px;
    width: 322px;
    text-align: center;
}
.card .card-image{
    background-color: #F95555;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}
.card-image img{
    width: 27px;
    height: 30px;
}
.card h3{
    margin: 15px 0;
    font-weight: 600;
}
.card p{
    font-size: 16px;
}

/* solution part css start from here  */
.solution{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 60px; */
    /* padding: 120px 20px;
    max-width: 1200px;
    margin: 0 auto; */
    max-width: 1370px;
    margin: 0 auto;
    padding: 80px 10px;
}
.solution .circle-image{
    width: 584px;
    height: 584px;
}
.solution .solution-text{
    text-align: left;
    margin-right: 200px;
}
.solution-text h4{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgba(4, 138, 4, 0.877);
}
.solution-text h2{
    font-size: 48px;
    margin-bottom: 25px;
}
.solution-text p{
    margin-bottom: 30px;
    max-width: 500px;
}
.solution ul li{
    list-style-type: none;
    margin: 12px 0;
    color: #010e06f6;
    display: flex;
    align-items: center;
    gap: 10px;
}

/* extra-bonus part css start from here  */
.extra-bonuspart{
    background: #F7F6F2;
    /* max-width: 1200px; */
    max-width: 1370px;
    margin: 0 auto;
    padding: 80px 20px;
    text-align: center;
}
.extra-bonuspart h2{
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 13px;
}
.extra-bonuspart p{
    color: #64748b;
    margin-bottom: 16px;
}
.extra-bonuspart .btn{
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.dot{
    font-size: 40px;
}
.extra-bonuspart .bonus-footer p{
    margin-top: 20px;
}

/* footer section start from here  */
footer{
    background-color: rgba(2, 2, 73, 0.932);
}
.footer-section{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.footer-logo img{
    height: 60px;
}
.social-area{
    text-align: right;
}
.social-area .social-title{
    font-size: 18px;
    margin-bottom: 10px;
}
.social-buttons{
    display: flex;
    gap: 15px;
}
.social-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.social-btn img{
    width: 22px;
}
.facebook{ background-color: #d0d3d6; }
.twitter{ background-color: #e7e9eb; }
.linkedin{ background-color: #e7e9eb; }
.social-btn:hover{
    transform: scale(1.1);
    opacity: 0.85;
}
footer hr{
    width: 90%;
    margin: 20px auto;
}
footer .copyright{
    color: white;
    text-align: center;
    padding-bottom: 20px;
}
