*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    /* background: #ffffff;
    background-color: #of172a; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
    /* border-bottom: 1px solid #e5e7eb; */
}
nav .menu{
    display: flex;
}
nav ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
}
nav ul li :hover{
    color: red;
}
nav ul li{
    list-style-type: none;
    
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 18px 90px;
    font-size: 45px;
    color:  rgba(8, 151, 8, 0.753);
}

.btn{
    background-color: rgba(8, 151, 8, 0.753);
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    font-size: 18px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(0, 102, 255);
}



/* hero section css start from here  */

.hero{
    background: url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding: 110px 20px;
}

.hero .sub-title{
    background-color: white;
    color: green;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
}
.hero h1{
    font-size: 52px;
    margin: 20px 0;
    line-height: 1.2;
}
.hero .hero-heading{
    color: #22c55e;
}

.hero p{
    max-width: 525px;
    /* background-color: red; */
    margin: 0 auto;
    font-size: 15px;
    margin-bottom: 25px;
}
.hero-button .btn{
    margin-right: 10px;
}
.hero-button .btn-secondary{
    border: 2px solid #c7cec9;
    background: transparent;
}
.hero-button .btn-secondary:hover{
    color: red;
    border: 2px solid goldenrod;
}
/* hero section css end here  */

/* card section start  from here  */
.card-section{
    padding: 30px 60px;
    text-align: center;
}
.card-section h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.card-section p{
    color: #64748b;
    font-size: 13px;
}
.user-cards{
    
    display: flex;
    gap: 25px;
    max-width: 1820px;
    width: 81%;
    margin: 0 auto;
}
.user-cards .card{
    margin-top: 40px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.103) ;
    border-radius: 12px;
}
.card h3{
    margin: 15px 0;
}
.card p{
    font-size: 14px;
}

/* solution part css start from here  */
.solution{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 80px;
    max-width: 1620px;
    width: 71%;
    margin: 0 auto;
}
.solution .circle-image{
    margin-left: 150px;
    margin-right: 40px;


}
.solution .solution-text{
    text-align: left;
        margin-left: 10px;

}
.solution-text h4{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 10px;
    color: rgba(4, 138, 4, 0.877);
}
.solution-text h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.solution-text p{
    margin-bottom: 10px;
    max-width: 500px;
    width: 90%;
   

}

.solution ul li{
    list-style-type: none;
    margin: 12px 0;
    color: #010e06f6;
}