*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    /* background: #ffffff;
    background-color: #of172a; */
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 80px;
    /* border-bottom: 1px solid #e5e7eb; */
}
nav .menu{
    display: flex;
}
nav ul li a {
    margin: 0 15px;
    text-decoration: none;
    color: #334155;
    font-weight: 500;
}
nav ul li :hover{
    color: red;
}
nav ul li{
    list-style-type: none;
    
}
.logo{
    display: flex;
    align-items: center;
    font-weight: 700;
    padding: 18px 90px;
    font-size: 45px;
    color:  rgba(8, 151, 8, 0.753);
}

.btn{
    background-color: rgba(8, 151, 8, 0.753);
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 600;
    color: white;
    font-size: 18px;
    border: none;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(0, 102, 255);
}